$transparent: transparent !default
$white-t-1: rgba(255, 255, 255, .10) !default
$white-t-2: rgba(255, 255, 255, .20) !default
$white-t-3: rgba(255, 255, 255, .30) !default
$white-t-4: rgba(255, 255, 255, .40) !default
$white-t-5: rgba(255, 255, 255, .50) !default
$white-t-6: rgba(255, 255, 255, .60) !default
$white-t-7: rgba(255, 255, 255, .70) !default
$white-t-8: rgba(255, 255, 255, .90) !default
$gray-1: #fafafa !default
$gray-2: #f5f5f5 !default
$gray-3: #e8e8e8 !default
$gray-4: #d9d9d9 !default
$gray-5: #bfbfbf !default
$gray-6: #8c8c8c !default
$gray-7: #595959 !default
$gray-8: #262626 !default
$black-t-1: rgba(0, 0, 0, .10) !default
$black-t-2: rgba(0, 0, 0, .20) !default
$black-t-3: rgba(0, 0, 0, .30) !default
$black-t-4: rgba(0, 0, 0, .40) !default
$black-t-5: rgba(0, 0, 0, .50) !default
$black-t-6: rgba(0, 0, 0, .60) !default
$black-t-7: rgba(0, 0, 0, .70) !default
$black-t-8: rgba(0, 0, 0, .90) !default
$white: #ffffff !default
$red: #f5222d !default
$dark-orange: #fa541c !default
$orange: #fa8c16 !default
$gold: #faad14 !default
$yellow: #fadb14 !default
$light-green: #a0d911 !default
$green: #52c41a !default
$cyan: #13c2c2 !default
$light-blue: #1890ff !default
$blue: #2f54eb !default
$purple: #722ed1 !default
$magenta: #eb2f96 !default
$black: #000000 !default

$whites: (white-t-1: $white-t-1, white-t-2: $white-t-2, white-t-3: $white-t-3, white-t-4: $white-t-4, white-t-5: $white-t-5, white-t-6: $white-t-6, white-t-7: $white-t-7, white-t-8: $white-t-8) !default
$grays: (gray-1: $gray-1, gray-2: $gray-2, gray-3: $gray-3, gray-4: $gray-4, gray-5: $gray-5, gray-6: $gray-6, gray-7: $gray-7, gray-8: $gray-8) !default
$blacks: (black-t-1: $black-t-1, black-t-2: $black-t-2, black-t-3: $black-t-3, black-t-4: $black-t-4, black-t-5: $black-t-5, black-t-6: $black-t-6, black-t-7: $black-t-7, black-t-8: $black-t-8) !default
$rainbow: (white: #ffffff, red: #f5222d, dark-orange: #fa541c, orange: #fa8c16, gold: #faad14, yellow: #fadb14, light-green: #a0d911, green: #52c41a, cyan: #13c2c2, light-blue: #1890ff, blue: #2f54eb, purple: #722ed1, magenta: #eb2f96, black: #000000) !default

$colors: (transparent: $transparent)
$colors: map_merge($colors, $whites)
$colors: map_merge($colors, $grays)
$colors: map_merge($colors, $blacks)
$colors: map_merge($colors, $rainbow)
